@import 'bootstrap/dist/css/bootstrap.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.card-dashboard{
    border-radius: 22px;
}

.card-dashboard:hover{
    cursor: pointer;
    opacity: 0.9;
}

.table-container {
    height: 50vh;
    overflow-y: auto;
}

.input-qtd {
    height: 27px;
    width: 120px;
}

.input-vlr {
    height: 32px;
    width: 130px;
}

.btn-finalizar {
    background-color:#28a745; 
    color: white;
}

.btn-finalizar:hover {
    background-color:#788e22; 
    color: white;
}